	#minimapAxis {
	    width: 100%;
	    height: auto;
	    background-color: transparent;
	    position: absolute;
	    right: 0px;
	    top: 0px;
	    z-index: 99999999;
	}
	
	#yearAxis {
	    width: 5%;
	    height: 5%;
	    font-size: 1vw;
	    font-family: Lato;
	    font-weight: 300;
	    background-color: rgba(0, 0, 0, 0);
	    border-radius: 2px;
	    color: #fff;
	    overflow: hidden;
	    margin-right: 25px;
	    position: absolute;
	    right: 10.4%;
	    top: 0.1%;
	}