@font-face {
    font-family: missionScript;
    src: url(../../Mission-Script.otf);
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $smoke;
    font-family: $font-family-sans-serif;
    margin: 0;
    color: $jet;
    a {
        color: $jet;
        &:visited {
            color: $jet;
        }
        &:link {
            color: $jet;
        }
    }
    ::-webkit-input-placeholder {
        color: rgba(0, 0, 0, .2);
    }
    :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, .2);
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, .2);
    }
    :-ms-input-placeholder {
        color: rgba(0, 0, 0, .2);
    }
    textarea,
    input {
        outline: none;
    }
    #blocker {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 999999;
    }
    #instructions {
        width: 100%;
        height: 100%;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    .logo {
        width: 100%;
        text-align: center;
        height: 50px;
        background-color: transparent;
        font-family: missionScript;
        //font-weight:700;
        font-size: 56px;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
        transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
    }
    .controls {
        width: 200px;
        height: auto;
        background-color: transparent;
        font-family: Lato;
        font-weight: 300;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 80px 0 0 -100px;
        display: flex;
        transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
        transition-delay: 0.03s;
    }
    .logoMove {
        margin-top: -125px;
    }
    .controlsMove {
        margin: -20px 0 0 -100px;
    }
    #wasdIcon {
        width: 20px;
        height: 20px;
        background-image: url('../../images/keys2.png');
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
        background-position: center;
        background-color: transparent;
    }
    #mouseIcon {
        width: 20px;
        height: 20px;
        background-image: url('../../images/mouse.png');
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
        background-position: center;
        background-color: transparent;
    }
    #settingsIcon {
        width: 20px;
        height: 20px;
        background-image: url('../../images/search2.png');
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
        background-position: center;
        background-color: transparent;
    }
    #settingsIcon:hover {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        @keyframes shake {
            10%,
            90% {
                transform: rotateZ(3deg);
            }
            20%,
            80% {
                transform: rotateZ(-6deg);
            }
            30%,
            50%,
            70% {
                transform: rotateZ(6deg);
            }
            40%,
            60% {
                transform: rotateZ(-3deg);
            }
        }
    }
    #infoIcon {
        width: 20px;
        height: 20px;
        background-image: url('../../images/info.png');
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
        background-position: center;
        background-color: transparent;
    }
    #infoIcon:hover {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    }
    .searchBar {
        width: 100%;
        height: 0px;
        background-color: rgba(255, 255, 255, .1);
        cursor: pointer;
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 99999999;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
    }
    .searchBarShow {
        height: 250px;
    }
    .infoBar {
        width: 100%;
        height: 0px;
        background-color: rgba(255, 255, 255, .1);
        cursor: pointer;
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 99999999;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44)
    }
    .infoBarShow {
        height: 250px;
    }
    #startInfoTitle {
        width: 100%;
        height: auto;
        background-color: transparent;
        color: #fff;
        font-family: Lato;
        font-weight: 700;
        font-size: 24px;
        margin: 50px 0 0 50px;
    }
    #startInfo {
        width: 80%;
        max-width: 900px;
        height: auto;
        background-color: transparent;
        color: #fff;
        font-family: Lato;
        font-weight: 300;
        font-size: 20px;
        padding-top: 4px;
        margin-top: 5px;
        border-top: 1px solid #fff;
    }
    #rating {
        width: 45%;
        height: auto;
        background-color: transparent;
        color: #fff;
        font-family: Lato;
        font-weight: 300;
        font-size: 14px;
        margin-top:10px;
        text-transform: uppercase;
        float: left;
    }
    #year {
        width: 45%;
        height: auto;
        background-color: transparent;
        color: #fff;
        font-family: Lato;
        font-weight: 300;
        font-size: 14px;
        margin-top:10px;
        text-transform: uppercase;
        float: right;
    }
    #search {
        width: 80%;
        max-width: 700px;
        height: 50px;
        margin: 50px auto 0 auto;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
        border: 0px;
        font-size: 20px;
        font-family: Lato;
        font-weight: 300;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 2px;
        color: rgba(0, 0, 0, 1);
        display: block;
    }
    #music {
        width: 20px;
        height: 20px;
        background-image: url('../../images/music.png');
        background-repeat: no-repeat;
        background-size: contain;
        flex: 1;
        position: absolute;
        background-position: left;
        background-color: transparent;
        bottom: 20px;
        right: 20px;
        z-index: 9999999999999999;
        cursor: pointer;
    }
    #music:hover {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        
    }
    #barHolder {
        width: 80%;
        max-width: 700px;
        height: 80px;
        background-color: transparent;
        margin: 20px auto 0 auto;
        overflow: hidden;
        padding: 0 30px 0 30px;
    }
    #ratingBar {
        width: 45%;
        height: 10px;
        float: left;
        margin-top: 10px;
    }
    #yearBar {
        width: 45%;
        height: 10px;
        float: right;
        margin-top: 10px;
    }
    #minimapAxis {
        width: 50%;
    }
}