@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


#toolTipHolder {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.icons {
    width: 25px;
}

#informationHolder {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding:0 0 50px 50px;
    box-sizing:border-box;
}

#titleText {
    width:auto;
    height:auto;
    background-color:transparent;
    color: #fff;
    font-family: Lato;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 35px;
}

#titleYear {
    width:auto;
    height:auto;
    background-color:transparent;
    color: #fff;
    font-family: Lato;
    font-weight: 700;
    font-size: 24px;
    padding-bottom:5px;
}

#plotInfo {
    width:100%;
    max-width:700px;
    height:auto;
    background-color:transparent;
    color:#fff;
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    margin-top:10px;
    padding-top:10px;
    border-top:0px solid #fff;
}

#restInfo {
    width:100%;
    height:auto;
    background-color:transparent;
    color:#fff;
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    margin-top:2px;
}

#centerSign {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    pointer-events: none;
    display: none;
}

#centerPlusVertical {
    width: 2px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -1px;
}

#centerPlusHorizontal {
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -10px;
}